.home-sections
  section.footer
    footer
      .license
        p.footer-title [victor@share]$ 
          a.cc(rel='license', href='http://creativecommons.org/licenses/by/4.0/')
            i.fa.fa-creative-commons
        
      p.social $whoami
        a(href="https://github.com/{{github_username}}", target='_blank')
          i.fa.fa-github
        a(href="https://twitter.com/{{twitter_username}}", target='_blank')
          i.fa.fa-twitter  
      
      span.text-cc(xmlns:dct='http://purl.org/dc/terms/', property='dct:title') 
        a(xmlns:cc='http://creativecommons.org/ns#', href='', property='cc:attributionName', rel='cc:attributionURL') [victor@share]$ se distribuye bajo una 
        a(rel='license', href='http://creativecommons.org/licenses/by/4.0/') Licencia Creative Commons Atribución 4.0 Internacional
