.home-sections
  section.header
    h1.flex 
      a(href="{{site.baseurl}}/")[victor@share]$
    span
      nav.flex
        ul
          li 
            a(href="{{site.baseurl}}/notes/") Anotaciones
          li 
            a(href="{{site.baseurl}}/blog/") Blog
          li 
            a(href="{{site.baseurl}}/contact/") Contacto
